@reference "@/index.css";

.root {
  position: sticky;
  top: var(--spacing-layout);
  display: flex;
  width: 320px;
  height: calc(100vh - 2 * var(--spacing-layout));
  padding: 24px 24px 12px 16px;
  background: var(--color-l3);
  border-radius: var(--radius-md);
  flex-direction: column;
  overflow-x: clip;
  overflow-y: auto;
  transition: .2s ease;
}

.root:not(.opened) {
  width: 56px;
  padding-right: 16px;
  height: 100vh;
  top: 0;
  margin-block: calc(-1 * var(--spacing-layout));
  margin-left: calc(-1 * var(--spacing-layout));
  border-radius: 0;
}