:root {
  --rgb-l1: 237, 237, 237;
  --rgb-l2: 243, 240, 235;
  --rgb-l3: 255, 255, 255;
  --rgb-default: 55, 55, 55;
}

.dark {
  --rgb-l1: 24, 24, 24;
  --rgb-l2: 40, 40, 40;
  --rgb-l3: 50, 50, 50;
  --rgb-default: 255, 255, 255;
}
