:root {
  --section-width     : calc(100vw - 30px);
}

.p-container {
  padding-inline: max(calc(50% - var(--section-width) / 2), 20px);
}

@media(width >= theme(--breakpoint-md)) {
  :root {
    --section-width: var(--container-md);
  }
}

@media(width >= theme(--breakpoint-lg)) {
  :root {
    --section-width:  var(--container-lg);
  }
}

@media(width >= theme(--breakpoint-xl)) {
  :root {
    --section-width:  var(--container-xl);
  }
}