:root {
  --rgb-l1: 237, 237, 237;
  --rgb-l2: 243, 240, 235;
  --rgb-l3: 255, 255, 255;
  --rgb-default: 55, 55, 55;
}

.dark {
  --rgb-l1: 24, 24, 24;
  --rgb-l2: 40, 40, 40;
  --rgb-l3: 50, 50, 50;
  --rgb-default: 255, 255, 255;
}

@custom-variant dark (&:is(.dark *));

@theme static {
  /* theme colors */
  --color-*: initial;
  --color-primary: rgb(0, 175, 245);
  --color-sec: rgb(255, 159, 67);
  --color-red: rgb(192, 57, 43);
  --color-green: rgb(39, 174, 96);
  --color-blue: rgb(41, 128, 185);
  --color-yellow: rgb(243, 156, 18);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);

  /* colors */
  --color-l1: rgb(var(--rgb-l1));
  --color-l2: rgb(var(--rgb-l2));
  --color-l3: rgb(var(--rgb-l3));
  --color-default: rgb(var(--rgb-default));

  /* font */
  --font-*: initial;
  --font-base: "Inter", arial, helvetica, sans-serif;
  --font-alt: "Gilroy", arial, helvetica, sans-serif;

  /* text */
  --text-h1: 3rem;
  --text-h1--line-height: 1.2;
  --text-h1--font-weight: 600;
  --text-h2: 2rem;
  --text-h2--line-height: 1.2;
  --text-h2--font-weight: 600;

  /* spacing */
  --spacing-layout: 12px;

  /* containers */
  --container-*: initial;
  --container-xs: 420px;
  --container-sm: 580px;
  --container-md: 740px;
  --container-lg: 1170px;
  --container-xl: 1170px;

  /* breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: calc(420px + 29.98px);
  --breakpoint-sm: calc(580px + 29.98px);
  --breakpoint-md: calc(740px + 29.98px);
  --breakpoint-lg: calc(1170px + 29.98px);
  --breakpoint-xl: 1366px;

  --ease-elastic: cubic-bezier(0.2, 2, 0.8, 1);

  --radius-*: initial;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
}
